<!DOCTYPE html>
<html>
  <head>
    <title>OmniAuth</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

  <body>
  	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to root_path do %>Home<% end %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    	<% if current_user %>
	    	<li>Signed in as <%= current_user.name %> - <%= image_tag(@auth['info']['image'],width: '50', height: '50') %></li>
	    	<li><%= link_to "Sign Out", 'sign_out', method: :delete %></li>
    	<% else %>
      		<li><%= link_to 'facebook', 'auth/facebook' %></li>
          <li><%= link_to 'github', 'auth/github' %></li>

      	<% end %>
    </ul>
  </div>
</nav>

	<% flash.each do |name, message| %>
		<div class="alert alert-info"><%= message %></div>
	<% end %>
    <%= yield %>
  </body>
</html>
